
#nav-logo-menu-2 .bg-wrap {
	background: #00c0ff;
}#header-text .bg {
    background-image: url('../images/Q1LkujoR6wA.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
}#sep-top-8 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}

#sep-top-8 .bg {
    background-image: url('../images/bg-paint-top.png');
    background-repeat: repeat-x;
    background-position: center top;
    background-size: auto 50px;
}
#desc-text .bg {
    background-image: url('../images/a5b4a9d8d0aa96484214a030b95760e7.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.42;
}#desc-img-list-3col .bg-wrap {
    background-color: #f4f5f6;
}#footer-logo-share .bg {
    background-image: url('../images/bg-sign.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.075;
}
