body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #343A40;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#header > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_projects-title
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#projects-title
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#projects-title > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#projects-title > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#projects-title > .row > .col-1
{
   float: left;
}
#projects-title > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#projects-title:before,
#projects-title:after,
#projects-title .row:before,
#projects-title .row:after
{
   display: table;
   content: " ";
}
#projects-title:after,
#projects-title .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#projects-title > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_related-title
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#related-title
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#related-title > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#related-title > .row > .col-1, #related-title > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#related-title > .row > .col-1, #related-title > .row > .col-2
{
   float: left;
}
#related-title > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#related-title > .row > .col-2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#related-title:before,
#related-title:after,
#related-title .row:before,
#related-title .row:after
{
   display: table;
   content: " ";
}
#related-title:after,
#related-title .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#related-title > .row > .col-1, #related-title > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_team-title
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#team-title
{
   box-sizing: border-box;
   padding: 25px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#team-title > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#team-title > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#team-title > .row > .col-1
{
   float: left;
}
#team-title > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#team-title:before,
#team-title:after,
#team-title .row:before,
#team-title .row:after
{
   display: table;
   content: " ";
}
#team-title:after,
#team-title .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#team-title > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #343A40;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
}
#wb_Text6 div
{
   text-align: center;
}
.ThemeableMenu1 .hide 
{
   display: none!important;
}
.ThemeableMenu1 .show 
{
   display: block!important;
}
.ThemeableMenu1 .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.ThemeableMenu1 .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #2B2B2B;
   text-align: left;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu1 .nav:before,
.ThemeableMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .nav:after 
{
   clear: both;
}
.ThemeableMenu1 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.ThemeableMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu1 .container:before,
.ThemeableMenu1 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .container:after 
{
   clear: both;
}
.ThemeableMenu1 .collapse 
{
   display: none;
}
.ThemeableMenu1 .collapse.in 
{
   display: block;
}
.ThemeableMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.ThemeableMenu1 .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu1 .dropdown 
{
   position: relative;
}
.ThemeableMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.ThemeableMenu1 .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #2B2B2B;
   white-space: nowrap;
}
.ThemeableMenu1 .dropdown-menu>li>a:hover,
.ThemeableMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .dropdown-menu>.active>a,
.ThemeableMenu1 .dropdown-menu>.active>a:hover,
.ThemeableMenu1 .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.ThemeableMenu1 .open>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu1 .open>a 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu1 .nav>li>a 
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.ThemeableMenu1 .nav .open>a,
.ThemeableMenu1 .nav .open>a:hover,
.ThemeableMenu1 .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.ThemeableMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .nav>li>a>img 
{
   max-width: none;
}
.ThemeableMenu1 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu1
{
   position: relative;
   border: 1px solid transparent;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1:before,
.ThemeableMenu1:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1:after 
{
   clear: both;
}
.ThemeableMenu1 .navbar-header:before,
.ThemeableMenu1 .navbar-header:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .navbar-header:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu1-navbar-collapse:before,
.ThemeableMenu1-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1-navbar-collapse:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 6px -15px;
}
.ThemeableMenu1 .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .navbar-toggle 
{
   border: 1px solid rgba(43,43,43,0.10);
}
.ThemeableMenu1 .navbar-toggle:hover,
.ThemeableMenu1 .navbar-toggle:focus 
{
   background-color: transparent;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   background-color: #999C9F;
}
.ThemeableMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link 
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-header
{
   color: #999C9F;
   height: 38px;
}
@media (min-width: 480px) 
{
.ThemeableMenu1 .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.ThemeableMenu1 .navbar-header 
{
   float: left;
}
.ThemeableMenu1-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu1-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle
{
   display: none;
}
.ThemeableMenu1 .navbar-nav 
{
   float: right;
   margin: 0;
}
.ThemeableMenu1 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu1 .container>.navbar-header,
.ThemeableMenu1 .container>.ThemeableMenu1-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 480px) 
{
.ThemeableMenu1 
{
   border-color: rgba(52,58,64,1.00);
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:hover,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.ThemeableMenu1 
{
   background-color: #343A40;
   background-image: none;
   border-color: rgba(52,58,64,1.00);
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #999C9F;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: #343A40;
   background-image: none;
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #999C9F;
   border-bottom-color: #999C9F;
}
.ThemeableMenu1 .navbar-nav > li.active > a > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:hover > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-link 
{
   color: #999C9F;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#ThemeableMenu1-logo
{
   float: left;
}
#ThemeableMenu1-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#ThemeableMenu1 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 20px 0px;
   text-align: left;
}
#Heading2
{
   color: #FF0000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_galleryHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#galleryHeading1
{
   color: #FF0000;
   font-family: Arial;
   font-weight: bold;
   font-size: 37px;
   margin: 0;
   text-align: left;
}
#wb_galleryHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 20px 0px;
   text-align: left;
}
#galleryHeading2
{
   color: #0000FF;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   margin: 0;
   text-align: left;
}
#StickyLayer
{
   background-color: #3E3E3E;
   background-image: none;
   opacity: 0.77;
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 14px;
}
#wb_up-arrow:hover i
{
   color: #EEEEEE;
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox3
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox4
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#StickyLayer
{
   position: fixed;
   text-align: left;
   left: auto;
   right: 25px;
   top: auto;
   bottom: 25px;
   width: 50px;
   height: 50px;
   z-index: 17;
}
#Editbox1
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 2;
}
#wb_Heading2
{
   display: inline-block;
   width: 100%;
   z-index: 1;
}
#Editbox2
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 3;
}
#Editbox3
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 4;
}
#Editbox4
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 5;
}
#Html1
{
   display: inline-block;
   width: 100px;
   height: 100px;
   z-index: 6;
}
#wb_galleryHeading1
{
   display: inline-block;
   width: 100%;
   z-index: 7;
}
#wb_galleryHeading2
{
   display: inline-block;
   width: 100%;
   z-index: 8;
}
#wb_up-arrow
{
   position: absolute;
   left: 9px;
   top: 8px;
   width: 24px;
   height: 24px;
   text-align: center;
   z-index: 11;
}
#wb_ThemeableMenu1
{
   display: inline-block;
   width: 100%;
   z-index: 1000;
}
@media only screen and (min-width: 768px) and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_header
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #343A40;
   background-image: none;
}
#wb_header
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#header
{
   padding: 20px 15px 20px 15px;
}
#header .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#header > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_projects-title
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_projects-title
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#projects-title
{
   padding: 0px 15px 0px 15px;
}
#projects-title .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#projects-title > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#projects-title > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_related-title
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_related-title
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#related-title
{
   padding: 0px 15px 0px 15px;
}
#related-title .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#related-title > .row > .col-1, #related-title > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#related-title > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#related-title > .row > .col-2
{
   display: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_team-title
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_team-title
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#team-title
{
   padding: 25px 15px 0px 15px;
}
#team-title .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#team-title > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#team-title > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_footer
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #343A40;
   background-image: none;
}
#wb_footer
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#footer
{
   padding: 50px 15px 50px 15px;
}
#footer .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#footer > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text6
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 18px;
}
#wb_ThemeableMenu1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#wb_Heading2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 20px 0px 20px 0px;
   color: #FF0000;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
}
#Heading2
{
   color: #FF0000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
}
#wb_galleryHeading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
   color: #FF0000;
   font-size: 37px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_galleryHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
}
#galleryHeading1
{
   color: #FF0000;
   font-family: Arial;
   font-weight: bold;
   font-size: 37px;
}
#wb_galleryHeading2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0px 20px 0px;
   color: #0000FF;
   font-size: 27px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_galleryHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
}
#galleryHeading2
{
   color: #0000FF;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
}
#StickyLayer
{
   width: 50px;
   height: 50px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3E3E3E;
   background-image: none;
   opacity: 0.77;
}
#wb_up-arrow
{
   left: 9px;
   top: 8px;
   width: 24px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#up-arrow
{
   width: 24px;
   height: 24px;
}
#up-arrow i
{
   line-height: 24px;
   font-size: 24px;
   width: 15px;
}
}
@media only screen and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_header
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #343A40;
   background-image: none;
}
#wb_header
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#header
{
   padding: 20px 15px 20px 15px;
}
#header .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#header > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_projects-title
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_projects-title
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#projects-title
{
   padding: 0px 15px 0px 15px;
}
#projects-title .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#projects-title > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#projects-title > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_related-title
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_related-title
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#related-title
{
   padding: 0px 15px 0px 15px;
}
#related-title .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#related-title > .row > .col-1, #related-title > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#related-title > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#related-title > .row > .col-2
{
   display: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_team-title
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_team-title
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#team-title
{
   padding: 25px 15px 0px 15px;
}
#team-title .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#team-title > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#team-title > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_footer
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #343A40;
   background-image: none;
}
#wb_footer
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#footer
{
   padding: 50px 15px 50px 15px;
}
#footer .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#footer > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text6
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 18px;
}
#wb_ThemeableMenu1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#wb_Heading2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 20px 0px 20px 0px;
   color: #FF0000;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
}
#Heading2
{
   color: #FF0000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
}
#wb_galleryHeading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
   color: #FF0000;
   font-size: 37px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_galleryHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
}
#galleryHeading1
{
   color: #FF0000;
   font-family: Arial;
   font-weight: bold;
   font-size: 37px;
}
#wb_galleryHeading2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0px 20px 0px;
   color: #0000FF;
   font-size: 27px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_galleryHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
}
#galleryHeading2
{
   color: #0000FF;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
}
#StickyLayer
{
   width: 50px;
   height: 50px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3E3E3E;
   background-image: none;
   opacity: 0.77;
}
#wb_up-arrow
{
   left: 9px;
   top: 8px;
   width: 24px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#up-arrow
{
   width: 24px;
   height: 24px;
}
#up-arrow i
{
   line-height: 24px;
   font-size: 24px;
   width: 15px;
}
}
